logo
patcher.log
/Build
/Packages
/.vscode
/Projects/.vs
/Projects/**/bin
/Projects/**/obj
/Logs
/Projects/packages
/Projects/Extension.Encryption/Config.cs
/Projects/Extension/.vs/Extension.csproj.dtbcache.json
/Projects/Extension.AttachEffectScript/.vs/Extension.AttachEffectScript.csproj.dtbcache.json
/Projects/Extension.Encryption/.vs/Extension.Encryption.csproj.dtbcache.json
/Projects/Extension.Ext/.vs/Extension.Ext.csproj.dtbcache.json
/Projects/Extension.Ext4CW/.vs/Extension.Ext4CW.csproj.dtbcache.json
/Projects/Extension.Script/.vs/Extension.Script.csproj.dtbcache.json
/Projects/PatcherYRpp.Utilities/.vs/PatcherYRpp.Utilities.csproj.dtbcache.json
/Projects/Scripts/.vs/Scripts.csproj.dtbcache.json
/Projects/ScriptUniversal/.vs/ScriptUniversal.csproj.dtbcache.json
